@font-face {
  font-family: 'Source Serif Pro';
  src: url('./fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf') format('truetype');
}

body {
  background: #fdfdfd;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#center-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

#centered-container {
  width: min(95vw, 95vh);
  height: calc(min(95vw, 95vh) - 50px);
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 5%; */
}

#container {
  width: min(95vw, 95vh);
  height: calc(min(95vw, 95vh) - 50px);
  position: absolute;
}

#display-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#display {
  aspect-ratio: 1;
  min-width: 0;
  z-index: -1;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: "Source Serif Pro", "Iowan Old Style", "Apple Garamond", "Palatino Linotype", "Times New Roman", "Droid Serif", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  vertical-align: middle;
}

#progress-bars {
  aspect-ratio: 1;
  min-width: 0;
  z-index: 1;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  vertical-align: middle;
}

.progress {
  position: absolute;
  width: auto;
  height: auto;
  aspect-ratio: 1/1;
  position: absolute;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
}

#progress0 {
  z-index: 0;
}

#progress1 {
  z-index: 1;
}

#progress2 {
  z-index: 2;
}

#progress3 {
  z-index: 3;
}

#progress4 {
  z-index: 4;
}

.word {
  opacity: .3;
  transition: background-color .5s linear;
  transition: opacity .6s ease-in-out;
  -webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
}

.word.visible {
  opacity: 1;
}

.word.outgoing {
  background-color: #fbb;
}

.word.incoming {
  background-color: #bbf;
}

.word.outgoing {
  background-color: #fbb;
}

.word.incoming {
  background-color: #bbf;
}

.max-word-spacing {
  background-color: #ffd;
  border: solid #eee;
  border-width: thin;
}

.min-word-spacing {
  background-color: #eff;
  border: solid #eee;
  border-width: thin;
}

#text-display {
  border-radius: 50%;
  background: #fff;
  /* background: linear-gradient(135deg, #a7cfdf 0%, #275d9b 100%); */
  /* box-shadow: inset -8px -7px 4px 0px rgba(0, 0, 0, 0.3); */
  position: absolute;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
}

#stats {
  max-width: 98vw;
  height: 21px;
  font-size: 14px;
  font-family: "lucida console", monospace;
  line-height: 1.5;
  color: #697486;
  border: solid #eee;
  border-width: thin;
  padding: 5px;
  margin-top: 35px;
  margin-bottom: 5px;
  text-align: center;
  display: none;
  /* start hidden */
}

.free {
  /* transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); */
}

.shared-urban {
  /* transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); */
}

.shared-rural {
  /* transform: translate(50%, 0%) scaleX(-1);
  -webkit-transform: translate(50%, 0%) scaleX(-1);
  -moz-transform: translate(50%, 0%) scaleX(-1); */
}

.rural {
  /* transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); */
}

.rural-legend {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.urban {
  /* transform: translate(50%, 0%) scaleX(-1);
  -webkit-transform: translate(50%, 0%) scaleX(-1);
  -moz-transform: translate(50%, 0%) scaleX(-1); */
}

.urban-legend {
  width: 20px;
  height: 20px;
  top: 20px;
  display: inline-block;
}

.overlap-legend {
  width: 20px;
  height: 20px;
  top: 20px;
  display: inline-block;
}

.line {
  width: 100%;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

#legend {
  display: none;
  position: absolute;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
}

#legend-container {
  aspect-ratio: 1;
  min-width: 0;
  z-index: 5;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  font-family: "Source Serif Pro", "Iowan Old Style", "Apple Garamond", "Palatino Linotype", "Times New Roman", "Droid Serif", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  vertical-align: middle;
}

.legend-content {
  color: #B3B3B3;
  position: fixed;
  bottom: -20px;
  right: -70px;
}

.legend-content div {
  font-family: "helvetica";
  font-size: 19px;
  margin: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
}

.legend-content div span {
  vertical-align: middle;
  margin-left: 10px;
}

.hidden-legend {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  bottom: 102.6%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  padding-left: 500%;
  padding-right: 500%;
  margin-left: -500%;
  margin-right: -500%;
}

.hidden-legend:hover {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 100;
}

.hidden-legend div {
  margin-left: 10px;
  margin-right: 10px;
}

.display-none {
  display: none;
}

.hide-cursor {
  cursor: none;
}